# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Ana_s\OneDrive\Dokumente\HTW\Semester_3\WebTech\Übung_Gitrepository\WebTech20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
